
<!DOCTYPE html>

<html lang="en">

<h3>NIFTY50:    {{nf_lastprice}}</h3>
<h3> server:    {{nf_time}}</h3>


 
<h3>Dayhigh:   {{nf_dayhigh}}</h3>
<h3>Daylow:   {{nf_daylow}}</h3>

<h3>Pre_close:    {{nf_pre_close}}</h3>
<h3>open:         {{nf_open}}</h3>

 

<head>

    <meta charset="UTF-8">

    <meta name="viewport"

          content="width=device-width, initial-scale=1.0">

    <style>

        body {

            background-color: rgb(239, 237, 237);

        }

    </style>

    <title>Chart</title>

</head>
 

<body>

    <div>

        <canvas id="myChart"></canvas>

    </div>

    <script src=

"https://cdn.jsdelivr.net/npm/chart.js">

      </script>

    <script src=

"https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels">

      </script>

    <script>

        const ctx = document.getElementById('myChart');

        // Manually register the chartjs datalabels plugin

        Chart.register(ChartDataLabels);

        new Chart(ctx, {

            type: 'bar',

            data: {

                labels: ['N50','HIGH','LOW','TS1','TS2'],

                datasets: [{

                    label: `NIFTY50`,

                    data: [{{nf_ver}},{{nf_ph}},{{nf_pl}},{{pcr}},67],

                    borderWidth: 3,

                    backgroundColor: 'pink',

                    borderColor: 'green'

                }]

            },

            options: {

                plugins: {

                    title: {

                        display: true,

                        text: 'INTRADAY',

                        color: 'blue',

                        font: {

                            weight: 'bold',

                            size: 20

                        }

                    },

                    datalabels: {

                        // Position of the labels 

                        // (start, end, center, etc.)

                        anchor: 'end',

                        // Alignment of the labels 

                        // (start, end, center, etc.)

                        align: 'end',

                        // Color of the labels

                        color: 'blue',

                        font: {

                            weight: 'bold',

                        },

                        formatter: function (value, context) {

                            // Display the actual data value

                            return value;

                        }

                    }

                }

            }

        });

    </script>
<h3>open:         {{raj}}</h3>
<h3>open:         {{pcr}}</h3>





</body>
 

</html>






